.uploadh4 h4{
    margin-top: 5%;
}
body{
    overflow: hidden;
}
#upperLink{
    padding: 30px 0 0 20px;
}
#upperLink button{
    width: 30vw;
    text-decoration: none;
    color: rgb(176, 168, 168);
    font-size: 28px;
    overflow-y: hidden !important;
}
/* #descriptionLink1{
    text-decoration: none;
    color: rgb(176, 168, 168);
    font-size: 28px;
}
#descriptionLink2{
    text-decoration: none;
    color: rgb(176, 168, 168);
    font-size: 28px;
} */
.formD{
    background-image: url("../images/Polygon\ 15.svg");
    background-color:#f2f5f6 ;
    height: 100vh;
    padding: 5% 5% 5% 10%;
}
.formPayment{
    background-image: url("../images/Polygon\ 15.svg"); 
    height: 94vh; 
}
.selectJob{
    margin-bottom: 5%;
}
.selectJob textarea{
    overflow-y: hidden;
    width:60vw !important
}
.selectJob h4{
    margin-bottom: 3%;
}
.selectoptions{
    padding: 2%;
    height: 5vh;
    width:30vw
}
.classButton{
    width:60vw
}
#bluedetails{
    height: 100vh;
    color:#f2f5f6;
    background-color: #0A58CA;
    overflow-y: hidden;
    padding: 0 0 0 5%;
}
#bluedetails h6{
margin: 0 0 5% 0;
}
.bluecard{
   border-bottom: 0.5px solid #b4b5b5;
   padding: 5% 0 15% 0;
}
.card{
    background-image: url(../images/card.svg);
    background-repeat: no-repeat;
}
.numberinput{
    background-image: url(../../src/images/visacard.svg);
    background-position-x: 90%;
    background-repeat: no-repeat;
}
#payment_button{
 
}